<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper" data-spy="scroll" data-target="#spy" class="">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand active">
                        <a href="#home" class=""><span class="fa fa-home solo">Home</span></a>
                    </li>
                    <li class="">
                        <a href="#anch1" data-scroll="" class="">
                            <span class="fa fa-anchor solo">Anchor 1</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#anch2" data-scroll="" class="">
                            <span class="fa fa-anchor solo">Anchor 2</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#anch3" data-scroll="" class="">
                            <span class="fa fa-anchor solo">Anchor 3</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#anch4" data-scroll="" class="">
                            <span class="fa fa-anchor solo">Anchor 4</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/JavaScriptAdmin.js")
        @RenderSection("scripts", required: false)
</body>
</html>
