<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PharmaStar</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand logo"></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav header-nav">
                    <li class="col-md-offset-1 col-md-3 logo">
                        <a href="@Url.Action("Index", "UserProducts")">PharmaStar</a>
                    </li>

                    @if (Request.Cookies["user"] != null && Request.Cookies["user"]["token"] != null)
                    {
                        <li class="col-md-1"><a href="@Url.Action("Logout", "Authentication")">Logout</a></li>
                    }
                    else
                    {
                        <li class="col-md-1"><a href="@Url.Action("Login", "Authentication")">Login</a></li>
                        <li class="col-md-1"><a href="@Url.Action("Register", "Authentication")">Register</a></li>
                    }
                    <li>
                        <div id="search-form">
                            @using (Html.BeginForm("Index", "UserProducts"))
                            {
                                @Html.TextBox("SearchString");
                                <input class="btn btn-default btn-sm" type="submit" value="Search" />
                            }
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PharmaStar</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $('#SearchString').autocomplete({
                source: function (request, response) {
                    var autocompleteUrl = 'http://localhost:51306/api/Products/' + request.term;
                    $.ajax({
                        url: autocompleteUrl,
                        type: 'GET',
                        cache: false,
                        dataType: 'json',
                        success: function (json) {
                            // call autocomplete callback method with results 
                            response($.map(json, function (data, id) {
                                return {
                                    label: data.Name,
                                    value: data.Name
                                };
                            }));
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            console.log('some error occured', textStatus, errorThrown);
                        }
                    })
                }
            })
        });
    </script>  

</body>
</html>
